ul.navbar-dropdown {
	@media (min-width: 720px){
		overflow: visible !important;
		padding: 0 !important;
		* {
			transition: .15s ease-out;
		}

		li {
			position: relative;
			display: block;
			box-sizing: border-box;
		}

		.navbar-dropdown-subitem-wrapper:empty {
			display: none !important;
		}

		.navbar-dropdown-subitem-wrapper {
			position: absolute;
			top: 0;
			left: calc(100% - 1px);
			background-color: var(--c-bg-navbar);
			border: 1px solid var(--c-border);
			padding: 0.8rem 0.2rem !important;
		}

		.navbar-dropdown-item {
			padding: 0.8em 0.2em;
			margin: 0;
			& > * {
				font-size: 0.9rem;
				font-weight: 600 !important;
				line-height: 1.25 !important;
				margin: 0;
				padding: 0;
				color: var(--ct-gray);
			}
			a:hover  {
				color: var(--c-brand);
			}
			&:not(:first-child) {
				border-top: 1px solid var(--c-border);
			}
			.navbar-dropdown-subtitle {
				border: none !important;
			}
		}

		.navbar-dropdown-item .navbar-dropdown-subtitle {
			padding: 0 !important;
			margin: 0 !important;
			display: block;
		}

		.navbar-dropdown-item .navbar-dropdown-subtitle a {
			padding: 0.6rem 1rem !important;
		}

		li:not(:hover) .navbar-dropdown-subitem-wrapper {
			z-index: -1;
			left: calc(100% - 20px);
			opacity: 0;
			pointer-events: none;
			transition: .2s ease-out;
		}

		li:hover .navbar-dropdown-subitem-wrapper {
			transition-delay: .1s;
			transition: .15s ease-out;
		}

		& > li:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

	@media (max-width: 719px) {
		.navbar-dropdown-subtitle * {
			line-height: 2rem !important;
		}
		.navbar-dropdown-subitem-wrapper {
			display: none !important;
		}

		.navbar-dropdown-item {
			margin: 0.3em 0;
		}
	}

	html.dark > li:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
}


